.testimonials
{
      overflow-x: hidden;
      padding-block:1rem ;
}
.slider
{
      width: 200%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3rem;
      padding-bottom: 1rem;
      transition: all .7s linear;
      transform: translateX(0%);
}
.user-info
{
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-bottom: 1rem;
}
.user-info img
{
      width: 3.5rem;
      border: 5px solid #212ea0;
      border-radius: 10rem;
}
.users
{
      width: 20%;
      border: none;
      box-shadow: 1px 1px 15px 5px rgb(222, 221, 221);
      border-radius: 1rem;
      padding: 2rem;
}
.users p
{
      opacity: .7;
}
.users .name
{
      margin-bottom: .5rem;
      color: #212ea0;
}
.testimonial-button-div
{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top:4rem;
      width: 100%;
      gap: 8rem;
}
.buttons
{
      height:4px;
      width: 2rem;
}
.first-button-div
{
      border-top-left-radius: 2rem;
      border-bottom-left-radius: 2rem;
      background-color: #212ea0;
}
.third-button-div
{
      border-top-right-radius: 2rem;
      border-bottom-right-radius: 2rem;
      background-color: #dad9d9;
}
.prev-button-div
{
      width: 2rem;
      height:2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #212ea0;
      border-radius: 50%;
      cursor: pointer;
}
.prev-button-div img{
      width: 30%;
      transition: all .3s linear;
}
.next-button-div
{
      width: 2rem;
      height:2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #212ea0;
      border-radius: 50%;
      cursor: pointer;
}
.next-button-div img{
      width: 30%;
      transition: all .3s linear;
}
.page-indicator
{
      display: flex;
}
.next-button-div:hover img{
      transform: translateX(.2rem);
}
.prev-button-div:hover img{
      transform: translateX(-.2rem);
}
/* media queries */

@media (max-width:1024px)
{
      .slider
      {
            gap: 2rem;
      }
}
@media (max-width:580px)
{
      .slider
      {
            gap: 1.5rem;
      }     
}
@media (max-width:517px) 
{
      .users{
            padding: 0;
            height: 15rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
      }
      .users p
      {
            display: none;
      }
      .user-info
      {
            display: flex;
            flex-direction: column;
      }
      .user-info img
      {
            width:6rem;
      }
}
@media (max-width:400px)
{
      .testimonial-button-div
      {
            gap: 4rem;
      }      
}
@media(max-width:380px)
{
      .testimonial-button-div
      {
            gap: 2rem;
      }
}